body{
  background-color: rgb(116, 233, 227);
  font-family: 'Roboto',sans-serif ;
  padding:0;
  margin: 0;
  box-sizing: border-box;



}

li{
  list-style: none;
}
a{
  text-decoration: none;
}


/*############################# Header ###############################*/
header{
display: flex;
flex-direction: column;
align-items: center;
}

header span{
  color: navy;
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
}
header p{
  font-weight: bold;
  display: inline-block;
}
/*############################# Footer ###############################3333333333333333333333333333333*/
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(116, 233, 227);
  padding-top: 15px;


}
.footer span{
  font-weight: bold;
  margin-bottom: 8px;
}
.footer span a{
  text-decoration: none;
}
.footer-padding{
  padding: 60px;
}
/*############################# Menu icons ###############################*/

.menu{
    margin-top: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
}

.menu .menu-item{
    height: 40px;
    width: 40px;
    padding: 5px;
    margin: 4px 0;

}
.menu-item .fa {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-item a span  {
    width: 0;
    position: absolute;
    left: 40px;
    font-weight: bold;
    white-space: nowrap;
    line-height: 40px;
    transition: 0.25s;
    letter-spacing: 2px;
    overflow: hidden;
}
.menu-item a{
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;

}
.menu-item a:hover span{
    width: auto;
    padding: 0 20px;
    overflow: visible;
}
.home,.home span { background: #030830;}
.about,.about span { background: #0f1a7e;}
.services,.services span { background: #5759d8;}
.portfolio,.portfolio span { background: #93a7fd;}
.contact,.contact span{background: #bebff1;}

/*############################# BATCHELOR elements ###############################*/

.batchelor{
  position: absolute;
  top: 20%;
  left: 15%;
  transform: translate(-50, -50);
  background: #4FA0D8;
  width: 500px;
  line-height: 40px;
  padding: 8px 25px;
  border-radius: 10px;
  display: block;

}
.batchelor label{
  color: white;
  font-size: 22px;
  font-weight: 500;
  display: block;
  cursor: pointer;
}
.batch-btn span{
  float: right;
  line-height: 40px;
}
.batch-dept span{
  float: right;
  position: relative;
  top: 10px;
  right: 30px;
  font-size: 22px;
}

.batchelor ul{
  position: absolute;
  background: #4FA0D8;
  width: inherit;
  top: 70px;
  left: 0;
  border-radius: 10px;
  display: none;
  border: none;

}
[id^=btn]:checked + ul{
  display: block;
}


.batchelor ul li label{
  font-size: 18px;
}

.batchelor ul li a{
  color: white;
  font-size: 16px;
}

.batchelor ul ul{
  position: static;
}
.batchelor ul ul li{
  line-height: 30px;
  border-bottom: 1px solid whitesmoke;
}

.batch-list{
 margin-bottom: 50px;
}

.batch-list li{
  line-height: 40px;
  padding: 8px 20px;
  cursor: pointer;

}

.batchelor input{
  display: none;
}

.batch-last{
  margin-bottom: 100px;
}
/*############################# MASTER elements ###############################*/

.master{
  position: absolute;
  top: 20%;
  left:55%;
  background: #4FA0D8;
  width: 500px;
  line-height: 40px;
  padding: 8px 25px;
  border-radius: 10px;
  display: block;
}

.master label{
  color: white;
  font-size: 20px;
  font-weight: 500;
  display: block;
  cursor: pointer;
}

.master-btn span{
  float: right;
  line-height: 40px;
}

.master-dept span{
  float: right;
  position: relative;
  top: 10px;
  right: 30px;
  font-size: 22px;
}

.master ul{
  position: absolute;
  background: #4FA0D8;
  width: inherit;
  top: 70px;
  left: 0;
  border-radius: 10px;
  display: none;
  border: none;
}
[id^=btn]:checked + ul{
  display: block;
}


.master ul li label{
  font-size: 18px;
}

.master ul li a{
  color: white;
  font-size: 16px;
}

.master ul ul{
  position: static;
}
.master ul ul li{
  line-height: 30px;
  border-bottom: 1px solid whitesmoke;
}

.master-list{
 margin-bottom: 50px;
}

.master-list li{
  line-height: 40px;
  padding: 8px 20px;
  cursor: pointer;

}

.master input{
  display: none;
}

.master-last{
  margin-bottom: 100px;
}












/* ................................................................................................ */
